@page
@model WebApplication2.Pages.RecipePages.SearchAccordingIngredient

@{
    ViewData["Title"] = "- Search";
    Layout = "Shared/_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Index</title>
</head>
<body>
<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <table class="table">
        <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ingredient[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChoosenIngredients[0].Count)
            </th>
            <th>

            </th>
        </tr>
        </thead>

        <tbody>
        @for (var i = 0; i < Model.Ingredient.Count; i++)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => Model.Ingredient[i].Name)
                    <input hidden asp-for="ChoosenIngredients[i].Id" class="form-control" value="@Model.Ingredient[i].Id"/>
                </td>
                <td>
                    <div class="form-group">

                        <input asp-for="ChoosenIngredients[i].Count" class="form-control"/>
                        <span asp-validation-for="ChoosenIngredients[i].Count" class="text-danger"></span>
                        @Model.Ingredient[i].Unit
                    </div>
                </td>
                <td>
                    <input asp-for="ChoosenIngredients[i].Checked" class="form-control" type="checkbox">
                </td>
            </tr>
        }
        </tbody>

    </table>
    <div class="form-group">
        <input type="submit" value="Search" class="btn btn-primary"/>
    </div>
</form>
<div>

</div>
</body>
</html>